

<script src="/static/js/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/angular/angular.min.js"></script>
<script src="/static/js/angular/angular-sanitize.min.js"></script>
<script src="/static/js/angular/angular-ui.min.js"></script>
<script src="/static/js/angular-route/angular-route.js"></script>
<script src="/static/js/angular/angular-cookie.min.js"></script>

<script src="/static/js/CU.Constants.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/assets/js/menu_login.min.js"></script>