<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Welcome to the Cloud Usage Reporting App. Using this app you can see the total cost incurred for cloud usage
            based on month,
            projects or resources.
            <br>
            The available functionalities are as follows:<br><br>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-body">
                        To view the billing and usage report based on a year, month, project or resource use this
                        tab.<br>

                        <a class="btn btn-primary" href="/billing">Billing Report</a>

                    </div>
                </div>
            </div>
            <!--div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-body">
                        To view the audit report for a project based on global ,regional or zonal activities use this
                        tab.<br>
                        <a class="btn btn-primary" href="/auditing">Audit Report</a>

                    </div>
                </div>
            </div-->

        </div>
    </div>
</div>
