body {
  min-height: 2000px;
  padding-top: 70px;
background-image: url(../img/musicSwril.jpg);
}
html{
    background-image: url(../img/musicSwril.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.clear{
    clear: both;
}